@model Limitless.Model.Logs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Logs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Thread)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thread)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.additionalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.additionalInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.logId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
